<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html>
<head th:insert="fragments.html :: head"></head>
<body>
<!-- ======= Header ======= -->
<header th:insert="fragments.html :: header"></header>
<!-- ======= Sidebar ======= -->
<div th:insert="fragments.html :: nav"></div>

<!-- Content -->
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Add / Update Product</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{/productsList}">Products</a></li>
                <li class="breadcrumb-item active">Add - Update Product</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <!-- General Form Elements -->
                        <form th:action="@{/addProduct}" method="post" th:object="${book}">
                            <input type="hidden" name="id"  th:field="*{id}">
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <label class="col-sm-2 col-form-label">Product Name</label>
                                    <input type="text" class="form-control" th:field="*{tittle}" placeholder="Please enter product name" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <label class="col-sm-2 col-form-label">Publisher</label>
                                    <input type="text" class="form-control" th:field="*{publisher}"
                                           placeholder="Please enter Publisher name" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <label class="col-sm-2 col-form-label">Shipping Weight</label>
                                    <input type="number" class="form-control" th:field="*{shippingWeight}"
                                           step="0.01" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <label class="col-sm-2 col-form-label">In Stock Number</label>
                                    <input type="number" class="form-control" th:field="*{inStockNumber}"
                                           step="0.01" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-sm-10">
                                    <label class="col-sm-2 col-form-label">List Price</label>
                                    <input type="number" class="form-control" th:field="*{listPrice}"
                                           step="0.01" placeholder="Please enter list price" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <label class="col-sm-2 col-form-label">Date</label>
                                    <input type="date" class="form-control" id="publicationDate"
                                           th:value="${book.publicationDate}" placeholder="publication Date" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                        <textarea rows="5" class="form-control" th:field="*{description}"
                                                  placeholder="Description"></textarea>
                                </div>
                            </div>
                            <fieldset class="row mb-3">
                                <div class="col-sm-10">
                                    <label class="col-sm-2 col-form-label">Status</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="active1" name="active"
                                               checked="checked">
                                        <label class="form-check-label" for="active1">
                                            Active
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" value="false" type="radio" name="active" id="active2">
                                        <label class="form-check-label" for="active2">
                                            DisActive
                                        </label>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" name="bookImage" id="bookImage"
                                           accept="image/png, image/jpeg" required>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <label class="col-sm-2 col-form-label">Category</label>
                                    <select th:field="*{category}" th:value="${book.category}"
                                            class="form-select" aria-label="Default select example" required>
                                        <option value="" selected="selected">Please
                                            select Category...</option>
                                        <th:block th:each="cat : ${listCategories}">
                                            <option th:text="${cat.name}" th:value="${cat.id}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a type="button" class="btn btn-secondary" th:href="@{/productsList}">Cancel</a>
                            </div>

                        </form><!-- End General Form Elements -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div th:insert="fragments.html :: script"></div>
</body>

</html>