<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:insert="fragments.html :: head"></head>

<body>
    <div id="wrapper">
        <header th:insert="fragments.html :: header"></header>
        <!--    Nav-->
        <div th:insert="fragments.html :: nav"></div>
        <!-- /. NAV SIDE  -->
        <div id="content-wrapper" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="row">
                <div class="col-md-12">
                    <h2>Update your product</h2>
                </div>
            </div>
            <!-- /. ROW  -->
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Form Element Examples
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Basic Form Examples</h3>
                                    <form role="form"  style="width: 75%;" th:action="@{/product/updateProduct}" th:object="${book}" method="post"
                                          enctype="multipart/form-data">
                                        <input hidden="hidden" name="id" th:value="${book.id}" th:field="*{id}"/>
                                        <div class="form-group">
                                            <label>Tittle</label>
                                            <input class="form-control" placeholder="Please enter product name" th:field="*{tittle}"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Publisher</label>
                                            <input class="form-control" placeholder="Please enter Publisher name" th:field="*{publisher}"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Publication Date</label>
                                            <input type="date" class="form-control" id="publicationDate"
                                                   name="publicationDate" th:value="${book.publicationDate}"
                                                   placeholder="publication Date" style="width: 25%;"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Shipping Weight</label>
                                            <input th:field="*{shippingWeight}" type="number" step="0.01"
                                                   class="form-control" placeholder="Shipping Weight"/>
                                        </div>
                                        <div class="form-group">
                                            <label>List Price</label>
                                            <input th:field="*{listPrice}" type="number" step="0.01"
                                                   class="form-control" placeholder="Please enter list price" />
                                        </div>
                                        <div class="form-group">
                                            <label>Our Price</label>
                                            <input th:field="*{ourPrice}" type="number" step="0.01"
                                                   class="form-control" placeholder="Please enter our price" />
                                        </div>
                                        <div class="form-group">
                                            <label>Number in Stock</label>
                                            <input th:field="*{inStockNumber}" type="number"
                                                   class="form-control" placeholder="Please enter number in stock" />
                                        </div>
                                        <div class="form-group">
                                            <label>Discription</label>
                                            <textarea rows="5" class="form-control" th:field="*{description}"
                                                      placeholder="Description"></textarea>
                                        </div>
                                        <!-- <div class="form-group">
                                            <label>Inline Checkboxes Examples</label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" /> One
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" /> Two
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" /> Three
                                            </label>
                                        </div> -->
                                        <div class="form-group">
                                            <label>Status</label>
                                            <div class="radio">
                                                <label>
                                                    <input value="true" type="radio" name="active"
                                                           checked="checked" />Active
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input value="false" type="radio" name="active" />DisActive
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="form-group">
                                                <label>Category</label>
                                                <select th:field="*{category}" th:value="${book.category}" class="form-control" required>
                                                    <option value="" selected="selected">Please
                                                        select an option...</option>
                                                    <th:block th:each="cat : ${listCategories}">
                                                        <option th:text="${cat.name}" th:value="${cat.id}"></option>
                                                    </th:block>
                                                </select>
                                                <br/>
                                                <label>Add Image</label>
                                                <input type="file" name="bookImage" id="bookImage" accept="image/png, image/jpeg" required/>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Update Product</button>
                                        <!--                                            <button class="btn btn-danger" th:href="@{/}">Cancel</button>-->
                                    </form>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Form Elements -->
                </div>
            </div>
            <!-- /. ROW  -->
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <div th:insert="fragments.html :: script"></div>
</body>

</html>