<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html>
<head th:insert="fragments.html :: head"></head>
<body>
<!-- ======= Header ======= -->
<header th:insert="fragments.html :: header"></header>
<!-- ======= Sidebar ======= -->
<div th:insert="fragments.html :: nav"></div>

<!-- Content -->
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Add Hotel</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{/hotelList}">Hotels</a></li>
                <li class="breadcrumb-item active">Add Hotel</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <!-- No Labels Form -->
                        <form class="row g-3" th:action="@{/newHotel}" method="post" th:object="${hotel}">
                            <input type="hidden" name="id"  th:field="*{id}">
                            <div class="col-md-12">
                                <input type="text" class="form-control" th:field="*{hotelName}" placeholder="Please enter Hotel name">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a type="button" class="btn btn-secondary" th:href="@{/hotelList}">Cancel</a>
                            </div>
                        </form><!-- End No Labels Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div th:insert="fragments.html :: script"></div>
</body>

</html>