<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments.html :: head"></head>
<body>
<!-- ======= Header ======= -->
<header th:insert="fragments.html :: header"></header>
<!-- ======= Sidebar ======= -->
<div th:insert="fragments.html :: nav"></div>

<main id="main" class="main">

    <div th:if="${message != null}"
         class="alert alert-success text-center">[[${message}]]</div>

    <div class="pagetitle">
        <h1>Hotels List</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                <li class="breadcrumb-item active">Hotels List</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!-- Content columns -->
            <div class="col-lg-12">
                <div class="row">
                    <!-- Users List -->
                    <div class="col-12">
                        <a class="btn btn-primary" th:href="@{/newHotel}">
                            New Hotel
                        </a>
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">Hotels</h5>
                                <table class="table table-borderless datatable">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">##</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="hotel, iStat : ${hotelsList}">
                                        <th name="id" th:text="${hotel.id}"></th>
                                        <td th:text="${hotel.hotelName}" class="text-primary"></td>
                                        <td><a href="" th:href="@{/updateHotel/{id}(id=${hotel.id})}">
                                            <span class="ri-edit-box-line"></span></a>
                                            <a th:href="@{/removeHotel/{id}(id=${hotel.id})}"
                                               th:onclick="if (!(true('Are you sure about delete it?!'))) return false">
                                            <span class=" ri-delete-bin-5-fill"></span></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- End Recent Sales -->

                </div>
            </div><!-- End side columns -->
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Feky App</span></strong>. All Rights Reserved
    </div>

    <div class="credits">
        Designed by <a href="#">Feky App</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div th:insert="fragments.html :: script"></div>
</body>

</html>