<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="fragments.html :: head"></head>
<body>

<div id="wrapper">
    <header th:insert="fragments.html :: header"></header>
    <div th:insert="fragments.html :: nav"></div>
    <!-- /. NAV SIDE  -->
    <div id="content-wrapper" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="row">
            <div class="col-md-12">
                <h2>Add Category</h2>
            </div>
        </div>
        <!-- /. ROW  -->
        <hr />
        <div class="row">
            <div class="col-md-12">
                <!-- Form Elements -->
                <div class="panel panel-default">

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form role="form"  style="width: 75%;" th:action="@{/categories/save}" method="post" th:object="${category}">

                                    <!--                                        <input hidden="hidden" name="id" th:value="${category.id}" />-->
                                    <div class="form-group">
                                        <label>Category Name</label>
                                        <input type="text" th:field="*{name}" class="form-control"
                                               placeholder="Please enter category name" />
                                    </div>
                                    <button type="submit" class="btn btn-danger">Save Changes</button>
                                    <!--                                        <button class="btn btn-danger" th:href="@{/}">Cancel</button>-->
                                </form>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Form Elements -->
            </div>
        </div>
        <!-- /. ROW  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- SCRIPTS -AT THE BOTTOM TO REDUCE THE LOAD TIME-->
<div th:insert="fragments.html :: script"></div>
</body>
</html>