<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{~/custom/custom.css}">
</head>
<body>
<div class="form">
    <form th:action="@{/login}" method="post" role="form">
        <h2>Login</h2>

        <div class="bg-danger" th:if="${param.error}">Invalid username
            and password.</div>
        <div class="bg-danger" th:if="${param.logout}">You have been
            logged out.</div>

        <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <label>
                <input type="text" name="username" placeholder="Username" required>
            </label>
        </div>
        <div class="input-box">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password" name="password" placeholder="Password" required>
        </div>

        <input type="hidden"
               name="${_csrf.parameterName}"
               value="${_csrf.token}"/>

        <div class="input-box">
            <input type="submit" name="sign-in" value="Login">
        </div>
        <a href="/register">Register</a>
    </form>
</div>
</body>
</html>